@model Activities
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Student Activities";
}
<h4>@ViewData["Title"]</h4>
<h2>All activities</h2>
<div>
    <h4>Manage all your activities</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var activitiesList = Model.ActivitiesList.ToList();
                        if (activitiesList.Count != 0) {
                            foreach (var activity in activitiesList)
                            {
                <tr>
                    <td scope="row">
                        <a asp-action="Activity" asp-route-id="@activity.Id">@activity.Name</a>
                    </td>
                    <th scope="row">@activity.ActivityType.Name</th>
                    <th scope="row">@activity.Description</th>
                </tr>
                            }
                        }
                    }
                        
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
