@model SingleStudentActivityInfo
@{
    ViewData["Title"] = @Model.ActivityName + " - " + @Model.StudentName;
}
<h3>Add row on Student @Model.StudentName</h3>
<h4>Activity @Model.ActivityName</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="TeacherActivityAdd">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdActivity" value="@Model.IdActivity" class="form-control" />
            <input type="hidden" asp-for="ActivityName" value="@Model.ActivityName" class="form-control" />
            <input type="hidden" asp-for="StudentId" value="@Model.StudentId" class="form-control" />
            <input type="hidden" asp-for="StudentName" value="@Model.StudentName" class="form-control" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendance" class="control-label"></label>
                <input asp-for="Attendance" class="form-control" />
                <span asp-validation-for="Attendance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-route="ActivityDetails" asp-route-activityId="@Model.IdActivity">Back to student list</a>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}