@model TeacherActivityInfo
@{
    var activityList = Model.ActivityDates.ToList();
    ViewData["Title"] = Model.Activity.Name + " - " + Model.Student.Name;
}
<h3>@Model.Activity.Name</h3>
<h4>Student @Model.Student.Name</h4>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Attendance</th>
                    <th scope="col">Grade</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (activityList.Count != 0)
                    {
                        foreach (var activity in activityList)
                        {
                            <tr>
                                <td scope="row">@activity.Date</td>
                                @if (activity.Attendance)
                                {
                                     <th scope="row">1</th>
                                }
                                else
                                {
                                    <th scope="row">0</th>
                                }
                                <th scope="row">@activity.Grade</th>
                                <td><a asp-action="TeacherActivityEdit" asp-route-activityId="@Model.Activity.Id" asp-route-studentId="@Model.Student.Id" asp-route-id="@activity.Id">Edit</a></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        <a asp-action="TeacherActivityAdd" asp-route-activityId="@Model.Activity.Id" asp-route-studentId="@Model.Student.Id">Add new information</a>
        <br />
        <a asp-route="Activities" asp-route-activityId="@Model.Activity.Id">Back to student list</a>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}